body {
  background-image: url(../img/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: cursive;
}
.output {
  font-size: 20px;
  float: right;
  color: black;
}
h1 {
  text-align: center;
}

#number {
  float: right;
  margin: 5px;
}

.btn {
  float: right;
}

.form-group {
  text-align: right;
  color: black;
  font-size: 20px;
}

